.checkbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 170px;
  margin: 0 15px;
}

.checkbox-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.checkbox-content input {
  margin-right: 10px; 
}

.checkbox-content span {
  flex-grow: 1; /* Allow the text to grow and fill the available space */
}

.checkbox-delete {
  margin-top: 15px;
  background: rgb(200, 200, 200);
  border: none;
  color: rgb(135, 135, 135);
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 2px;
}

.checkbox-checked {
  text-decoration: line-through;
}

.checkbox:hover .checkbox-content {
  background: rgb(245, 245, 245);
}
